<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tFIsFirstRunPreferenceKey</key>
	<true/>
	<key>tFTouchViewTouchesAreAnimatedPreferenceKey</key>
	<false/>
	<key>tFTUIOPixelsForMotion</key>
	<real>5</real>
	<key>tFTUIOFlashXmlPixelsForMotionThreshold</key>
	<integer>5</integer>
	<key>tFTUIOFlashXmlServerPort</key>
	<integer>3000</integer>
	<key>tFTUIOFlashXmlServerLocalAddressTag</key>
	<integer>0</integer>
	<key>tFTUIOFlashXmlDefaultTuioVersion</key>
	<integer>0</integer>
	<key>tFTUIOFlashLCSettingsControllerPixelsForMotion</key>
	<integer>5</integer>
	<key>tFTUIOFlashLCSettingsControllerDefaultTUIOVersion</key>
	<integer>0</integer>
	<key>tFTUIOFlashLCSettingsControllerConnectionName</key>
	<string>_TuioOscDataStream</string>
	<key>tFTUIOFlashLCSettingsControllerConnectionMethod</key>
	<string>receiveTuioOscData</string>
</dict>
</plist>
